#  Concatenation
 combining together Series, DataFrame 
 
 pd.concat(objs,axis=0,join='outer',join_axes=None, ignore_index=False)

https://www.tutorialspoint.com/python_pandas/python_pandas_concatenation.htm
 
    objs − This is a sequence or mapping of Series, DataFrame, or Panel objects.

    axis − {0, 1, ...}, default 0. This is the axis to concatenate along.

    join − {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.

    ignore_index − boolean, default False. If True, do not use the index values on the concatenation axis. The resulting axis will be labeled 0, ..., n - 1.

    join_axes − This is the list of Index objects. Specific indexes to use for the other (n-1) axes instead of performing inner/outer set logic.

In [1]:
import pandas as pd

In [2]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])
print (one,' \n')
two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (two,'\n')
print (pd.concat([one,two]) )

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78

    Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
5  Betty       sub5            88

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [3]:
#associate specific keys with each of the pieces of the chopped up DataFrame
print (pd.concat([one,two],keys=['x','y']) )

       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub2            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88

 The index of the resultant is duplicated; each index is repeated.

If the resultant object has to follow its own indexing, set ignore_index to True.

In [4]:
print (pd.concat([one,two],keys=['v','wefds'],ignore_index=True) )

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

 Observe, the index changes completely and the Keys are also overridden.

In [5]:
#If two objects need to be added along axis=1, 
# then the new columns will be appended.

In [6]:
 print (pd.concat([one,two],axis=1))

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

Concatenating Using append

A useful shortcut to concat are the append instance methods on Series and DataFrame. These methods actually predated concat. They concatenate along axis=0, namely the index −

In [7]:
print (one.append(two) )

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [8]:
 #The append function can take multiple objects as well −
print (one.append([two,one,two]) )

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

 Time Series

Pandas provide a robust tool for working time with Time series data, especially in the financial sector. While working with time series data, we frequently come across the following −

    Generating sequence of time
    Convert the time series to different frequencies

Pandas provides a relatively compact and self-contained set of tools for performing the above tasks.
Get Current Time

datetime.now() gives you the current date and time.

In [9]:
print (pd.datetime.now() )

2020-11-07 11:13:17.086584

In [10]:
#Create a TimeStamp
#Time-stamped data is the most basic type of timeseries data that associates
#values with points in time. 
 
print (pd.Timestamp('2017-03-01'))
#convert integer or float epoch times. The default unit for these is nanoseconds
print (pd.Timestamp(1587687255,unit='s'))
print (pd.date_range("11:00", "13:30", freq="30min").time,'\n\n')#Create a Range of Time
print (pd.date_range("11:00", "13:30", freq="s").time)

2017-03-01 00:00:00
2020-04-24 00:14:15
[datetime.time(11, 0) datetime.time(11, 30) datetime.time(12, 0)
 datetime.time(12, 30) datetime.time(13, 0) datetime.time(13, 30)]


[datetime.time(11, 0) datetime.time(11, 0, 1) datetime.time(11, 0, 2) ...
 datetime.time(13, 29, 58) datetime.time(13, 29, 59) datetime.time(13, 30)]

In [11]:
#Converting to Timestamps
print (pd.to_datetime(pd.Series(['Jul 31, 2009','2010-01-10', None])) )

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [12]:
 print (pd.to_datetime(['2005/11/23', '2010.12.31', None]))

DatetimeIndex(['2005-11-23', '2010-12-31', 'NaT'], dtype='datetime64[ns]', freq=None)

 # Date Functionality
 https://www.tutorialspoint.com/python_pandas/python_pandas_date_functionality.htm
 Extending the Time series, Date functionalities play major role in financial data analysis. While working with Date data, we will frequently come across the following −

    Generating sequence of dates
    Convert the date series to different frequencies

Create a Range of Dates

Using the date.range() function by specifying the periods and the frequency, we can create the date series. By default, the frequency of range is Days.

In [13]:
Datetime = pd.date_range('1/1/2011', periods=5) #Create a Range of Dates
print (Datetime,'\n')
print (Datetime[1],'\n')    
print (pd.date_range('1/1/2011', periods=5,freq='Y') ) 
print (pd.bdate_range('1/1/2011', periods=12))#business date ranges

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05'],
              dtype='datetime64[ns]', freq='D')

2011-01-02 00:00:00

DatetimeIndex(['2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-17', '2011-01-18'],
              dtype='datetime64[ns]', freq='B')

In [14]:
start = pd.datetime(2011, 1, 1)
end = pd.datetime(2011, 1, 5)

print (pd.date_range(start, end))

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05'],
              dtype='datetime64[ns]', freq='D')

# Timedelta
Timedeltas are differences in times, expressed in difference units, for example, days, hours, minutes, seconds. They can be both positive and negative.
https://www.tutorialspoint.com/python_pandas/python_pandas_timedelta.htm

In [18]:
print (pd.Timedelta('2 days 2 hours 15 minutes 30 seconds') )
print (pd.Timedelta(6,unit='h'))
print (pd.Timedelta(days=2))

2 days 02:15:30
0 days 06:00:00
2 days 00:00:00

In [ ]:
to_timedelta()

Convert a scalar, array, 
list, or series from a recognized timedelta format/ value into a 
Timedelta type. It will construct Series if the input is a Series,
a scalar if the input is scalar-like, 
otherwise will output a TimedeltaIndex.

In [26]:
print (pd.Timedelta(days=2) )
print (pd.to_timedelta(days=1) )

2 days 00:00:00

TypeError: to_timedelta() got an unexpected keyword argument 'days'

In [30]:

s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))

print (s,'\n',td ,'\n',df )

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]
 0   0 days
1   1 days
2   2 days
dtype: timedelta64[ns]
            A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

In [31]:
df['C']=df['A']+df['B']
print(df)

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05

In [32]:
s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))
df['C']=df['A']+df['B']
df['D']=df['C']+df['B']
df

           A      B          C          D
0 2012-01-01 0 days 2012-01-01 2012-01-01
1 2012-01-02 1 days 2012-01-03 2012-01-04
2 2012-01-03 2 days 2012-01-05 2012-01-07