<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/t81_558_class_02_4_pandas_functional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#   Panda  basics
<b>Pandas is  Python Library providing   data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data 
<br>
 All Pandas data structures are value mutable and Homogeneous data.
  
Series       1D  size immutable<br>
Data Frames  2D  size  mutable <br>
Panel 	     3D  size  mutable<br>  
    
* https://www.tutorialspoint.com/python_pandas/

#  Series

In [1]:
import pandas as pd

In [2]:
#Create a Series from ndarray
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#Create a Series with index from input 
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
data = {'a' : 0., 'b' : 1., 'c' : 2.} #Create a Series from dict
s0 = pd.Series(data)
print (s0 ) 
s = pd.Series(5, index=[0, 1, 2, 3])#Create a Series from scalar
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64
0    5
1    5
2    5
3    5
dtype: int64

### Accessing Data from Series with Position
https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm

In [5]:
print (s0[0],'\n' )       # retrieve the first element
print (s0[:3],'\n')       # retrieve the first three element
print (s[-3:],'\n')       # retrieve the last three element
print (s0['c'])           # retrieve a single element Using Label (Index)
print (s0[['a','c','b']]) #retrieve multiple elements

0.0

a    0.0
b    1.0
c    2.0
dtype: float64

1    5
2    5
3    5
dtype: int64

2.0
a    0.0
c    2.0
b    1.0
dtype: float64

 # DataFrame
 A pandas DataFrame can be created using the following constructor âˆ’

pandas.DataFrame( data, index, columns, dtype, copy)

In [6]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data, columns=['Name','Age'])
print (df)

   0
0  1
1  2
2  3
3  4
4  5
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

 # Create a DataFrame from Dict of ndarrays / Lists
 
 https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm

In [7]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df,'\n' )
#indexed DataFrame using arrays
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df,'\n')
#Create a DataFrame from List of Dicts 
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df,'\n')

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [8]:
 # reate a DataFrame with a list of dictionaries, row indices, and column indices.
 data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1,'\n')
print (df2 )

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

In [9]:
 #Create a DataFrame from Dict of Series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df,'\n' )   
print (df ['one'])#Column Selection

# Add  column 
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df,'\n')
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [10]:
 #Column Deletion
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

 # Row Selection, Addition, and Deletion

In [11]:
 d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df,'\n')
print (df.loc['b'],'\n')     # row 'b'
print (df.iloc[2] ,'\n')     # Selection by integer location
print (df[2:4],'\n' )        #Slice Rows

#Addition of Rows
df2 = pd.DataFrame([[5, 6 ], [9, 8]], columns = ['one', 'two'])
print (df2)
df = df.append(df2)
print (df,'\n')

# Drop rows with label '0'
df = df.drop(0)

print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    2.0
two    2.0
Name: b, dtype: float64

one    3.0
two    3.0
Name: c, dtype: float64

   one  two
c  3.0    3
d  NaN    4

   one  two
0    5    6
1    9    8
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
0  5.0    6
1  9.0    8

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
1  9.0    8

# A panel is a 3D container of data. The term Panel data is derived from econometrics and is partially responsible for the name pandas âˆ’ pan(el)-da(ta)-s.

The names for the 3 axes are intended to give some semantic meaning to describing operations involving panel data. They are âˆ’

    items âˆ’ axis 0, each item corresponds to a DataFrame contained inside.

    major_axis âˆ’ axis 1, it is the index (rows) of each of the DataFrames.

    minor_axis âˆ’ axis 2, it is the columns of each of the DataFrames.

https://www.tutorialspoint.com/python_pandas/python_pandas_panel.htm

In [12]:
import numpy as np
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print (p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

C:\Users\rockman\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

 # Series Basic Functionality
 https://www.tutorialspoint.com/python_pandas/python_pandas_basic_functionality.htm

In [13]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print(s,'\n' )
print ("The axes are:", s.axes)
print ("Is the Object empty? ",s.empty)
print ("The dimensions of the object:",s.ndim )
print ("The size of the object:" ,s.size  )
print ("The actual data series is:", s.values)
print ("The first two rows of the data series:\n",s.head(2))
print ("The last two rows of the data series:\n",  s.tail(2) )

0   -1.220373
1    1.515336
2    1.099228
3   -0.368760
dtype: float64

The axes are: [RangeIndex(start=0, stop=4, step=1)]
Is the Object empty?  False
The dimensions of the object: 1
The size of the object: 4
The actual data series is: [-1.22037333  1.51533647  1.09922832 -0.36875994]
The first two rows of the data series:
 0   -1.220373
1    1.515336
dtype: float64
The last two rows of the data series:
 2    1.099228
3   -0.368760
dtype: float64

 # DataFrame Basic Functionality

In [14]:
#import pandas as pd
import pandas as pd

In [15]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
df = pd.DataFrame(d)
print (df)
print ("The transpose of the data series is:")
print (df.T)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
The transpose of the data series is:
          0      1      2     3      4      5     6     7      8       9   \
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack   Lee  David  Gasper
Age       25     26     25    23     30     29    23    34     40      30
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8  3.78   2.98     4.8

            10      11
Name    Betina  Andres
Age         51      46
Rating     4.1    3.65

In [16]:
print ("Row axis labels and column axis labels are:")
print (df.axes,'\n')
print ("The data types of each column are:")
print (df.dtypes,'\n')
print ("Is the object empty?")
print (df.empty,'\n')
print ("The dimension of the object is:")
print (df.ndim,'\n')
print ("The shape of the object is:")
print (df.shape,'\n')
print ("The total number of elements in our object is:")
print (df.size,'\n')
print ("The actual data in our data frame is:")
print (df.values,'\n')
print ("The first two rows of the data frame is:")
print (df.head(2),'\n')
print ("The last two rows of the data frame is:")
print (df.tail(2))

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=12, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

Is the object empty?
False

The dimension of the object is:
2

The shape of the object is:
(12, 3)

The total number of elements in our object is:
36

The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]
 ['Lee' 34 3.78]
 ['David' 40 2.98]
 ['Gasper' 30 4.8]
 ['Betina' 51 4.1]
 ['Andres' 46 3.65]]

The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24

The last two rows of the data frame is:
      Name  Age  Rating
10  Betina   51    4.10
11  Andres   46    3.65

 # Python Pandas - Descriptive Statistics
 https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm
 
 1 	count() 	Number of non-null observations
 
2 	sum() 	Sum of values

3 	mean() 	Mean of Values

4 	median() 	Median of Values

5 	mode() 	Mode of values

6 	std() 	Standard Deviation of the Values

7 	min() 	Minimum Value

8 	max() 	Maximum Value

9 	abs() 	Absolute Value

10 	prod() 	Product of Values

11 	cumsum() 	Cumulative Sum

12 	cumprod() 	Cumulative Product

In [17]:
df = pd.DataFrame(d)
# sum of the values for the requested axis. By default, axis is index (axis=0)
# Each individual column is added individually 
print (df.sum(),'/n')# By default, axis is index (axis=0).
print(df.sum(1))# axis=1 Each individual row is added individually

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object /n
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [18]:
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 6)
display(df)
print (df.mean(),'\n')
print (df.std(),'\n' )

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
..     ...  ...     ...
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

[12 rows x 3 columns]

Age       31.833333
Rating     3.743333
dtype: float64

Age       9.232682
Rating    0.661628
dtype: float64

In [19]:
#'include' is the argument which is used to pass necessary information
#regarding what columns  need to be considered for summarizing.
print (df.describe(include=['object']))
print (df.describe(include=['number']))
print (df.describe(include='all') )

       Name
count    12
unique   12
top     Vin
freq      1
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
...          ...        ...
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

[8 rows x 2 columns]
       Name   Age   Rating
count    12  12.0  12.0000
unique   12   NaN      NaN
top     Vin   NaN      NaN
...     ...   ...      ...
50%     NaN  29.5   3.7900
75%     NaN  35.5   4.1325
max     NaN  51.0   4.8000

[11 rows x 3 columns]

  #  Function Application
  https://www.tutorialspoint.com/python_pandas/python_pandas_function_application.htm

 Table-wise Function Application

In [20]:
#import pandas as pd
import numpy as np



df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df,'\n')
print (df.apply(np.mean),'\n')#performs column wise, taking each column as an array-like
#df.apply(np.mean,axis=1) # performed row wise.
print (df.apply(np.mean,axis=1))

       col1      col2      col3
0 -0.768350  1.127704 -0.005990
1  1.146748 -1.106528 -1.843031
2 -0.478870  0.565571  0.400583
3 -0.112534  1.629066 -0.377755
4  0.691921  0.748644  0.213048

col1    0.095783
col2    0.592891
col3   -0.322629
dtype: float64

0    0.117788
1   -0.600937
2    0.162428
3    0.379592
4    0.551204
dtype: float64

In [23]:
  df['col1'].map(lambda x:x*100) # applay to  column ['col1']

0    -76.835015
1    114.674799
2    -47.887046
3    -11.253440
4     69.192079
Name: col1, dtype: float64

# Row or Column Wise Function Application

Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. By default, the operation performs column wise, taking each column as an array-like.

axis=0 column (default)

axis=1 Row

In [29]:
print (df,'\n')
print (df.apply(np.mean,axis=1),'\n')# applay to rows
print (df.apply(np.mean),'\n')# applay to column
print (df )

       col1      col2      col3
0 -0.768350  1.127704 -0.005990
1  1.146748 -1.106528 -1.843031
2 -0.478870  0.565571  0.400583
3 -0.112534  1.629066 -0.377755
4  0.691921  0.748644  0.213048

0    0.117788
1   -0.600937
2    0.162428
3    0.379592
4    0.551204
dtype: float64

col1    0.095783
col2    0.592891
col3   -0.322629
dtype: float64

       col1      col2      col3
0 -0.768350  1.127704 -0.005990
1  1.146748 -1.106528 -1.843031
2 -0.478870  0.565571  0.400583
3 -0.112534  1.629066 -0.377755
4  0.691921  0.748644  0.213048

In [34]:
x =df.apply(lambda x: 33*x.max() - x.min())
print(x,'\n')
x =df.apply(lambda x: 33*x.max() - x.min(),axis=1)
print(x)

col1    38.611034
col2    54.865710
col3    15.062265
dtype: float64

0    37.982572
1    39.685714
2    19.142698
3    54.136936
4    24.492218
dtype: float64