<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/t81_558_class_02_4_pandas_functional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#   Working with Text Data
 s.str.lower(), s.str.upper(),  s.str.len() strip() split(pattern) .contains(' ')  .replace('@','$') count('o')   startswith ('T') s.str.endswith('t') find('e') findall('e')swapcase() islower() isupper()
 isnumeric()
https://www.tutorialspoint.com/python_pandas/python_pandas_working_with_text_data.htm

In [1]:
import pandas as pd
import numpy as np

In [2]:
 s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [3]:
print (s.str.lower(),'\n' )
print (s.str.upper(),'\n' )
print (s.str.len(),'\n' )

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [4]:
# .strip()
s = pd.Series(['Tom', '      William     Rick', '         John', '   Alber@t'])
print (s)
print ("After Stripping:")
print (s.str.strip() )
print ("Split Pattern:")
print (s.str.split(' '))
print (s.str.cat(sep='_'))
x  = s.str.get_dummies()
print (x)
print (x['Tom'])

0                       Tom
1          William     Rick
2                      John
3                   Alber@t
dtype: object
After Stripping:
0                 Tom
1    William     Rick
2                John
3             Alber@t
dtype: object
Split Pattern:
0                                  [Tom]
1    [, , , , , , William, , , , , Rick]
2               [, , , , , , , , , John]
3                        [, , , Alber@t]
dtype: object
Tom_      William     Rick_         John_   Alber@t
            John        William     Rick     Alber@t  Tom
0              0                       0           0    1
1              0                       1           0    0
2              1                       0           0    0
3              0                       0           1    0
0    1
1    0
2    0
3    0
Name: Tom, dtype: int64

In [5]:
x = pd.Series(['a|b', np.nan, 'a|c']).str.get_dummies()
y = pd.get_dummies(x).dtypes
print (x)
print (y) 
print (x['a'][0])
x.head(2)

   a  b  c
0  1  1  0
1  0  0  0
2  1  0  1
a    int64
b    int64
c    int64
dtype: object
1

   a  b  c
0  1  1  0
1  0  0  0

In [10]:
 print (s)
 print (s.str.contains(' '))
 print (s.str.replace('@','$'))
 print (s)
 print (s.str.repeat(6))
 print ("After Stripping:")
 print (s.str.strip() )

0                       Tom
1          William     Rick
2                      John
3                   Alber@t
dtype: object
0    False
1     True
2     True
3     True
dtype: bool
0                       Tom
1          William     Rick
2                      John
3                   Alber$t
dtype: object
0                       Tom
1          William     Rick
2                      John
3                   Alber@t
dtype: object
0                                   TomTomTomTomTomTom
1          William     Rick      William     Rick  ...
2             John         John         John       ...
3       Alber@t   Alber@t   Alber@t   Alber@t   Alb...
dtype: object
After Stripping:
0                 Tom
1    William     Rick
2                John
3             Alber@t
dtype: object

In [12]:
print ("The number of 'o's in each string:")
print (s.str.count('o') )

The number of 'o's in each string:
0    1
1    0
2    1
3    0
dtype: int64

In [14]:
print ("Strings that start with 'T':")
print (s.str. startswith ('T'))
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool
Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [17]:
print (s.str.find('l') )
print (s.str.findall('l'))

0   -1
1    8
2   -1
3    4
dtype: int64
0        []
1    [l, l]
2        []
3       [l]
dtype: object

In [18]:
 print (s.str.swapcase())

0                       tOM
1          wILLIAM     rICK
2                      jOHN
3                   aLBER@T
dtype: object

In [22]:
 print (s.str.islower())
 print (s.str.isupper())   
 print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool

# Options and Customization
 Pandas provide API to customize some aspects of its behavior, display is being mostly used.

The API is composed of five relevant functions. They are −

    get_option():upper limit to display.
    set_option()
    reset_option()
    describe_option()
    option_context()

In [26]:
#upper limit to display.
print (pd.get_option("display.max_rows"))
print (pd.get_option("display.max_columns"))
pd.set_option("display.max_rows",80)
print (pd.get_option("display.max_rows"))
pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

80
20
80
60

In [27]:
 pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

 # option_context()

option_context context manager is used to set the option in with statement temporarily. Option values are restored automatically when you exit the with block −
display.max_rows

Using option_context(), we can set the value temporarily.

In [28]:
 with pd.option_context("display.max_rows",10):
   print(pd.get_option("display.max_rows"))
   print(pd.get_option("display.max_rows"))

10
10