<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/t81_558_class_02_4_pandas_functional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T81-558: Applications of Deep Neural Networks
**Module 2: Python for Machine Learning**
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), McKelvey School of Engineering, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

# Module 2 Material

Main video lecture:

* Part 2.1: Introduction to Pandas [[Video]](https://www.youtube.com/watch?v=bN4UuCBdpZc&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_1_python_pandas.ipynb)
* Part 2.2: Categorical Values [[Video]](https://www.youtube.com/watch?v=4a1odDpG0Ho&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_2_pandas_cat.ipynb)
* Part 2.3: Grouping, Sorting, and Shuffling in Python Pandas [[Video]](https://www.youtube.com/watch?v=YS4wm5gD8DM&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_3_pandas_grouping.ipynb)
* **Part 2.4: Using Apply and Map in Pandas for Keras** [[Video]](https://www.youtube.com/watch?v=XNCEZ4WaPBY&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_4_pandas_functional.ipynb)
* Part 2.5: Feature Engineering in Pandas for Deep Learning in Keras [[Video]](https://www.youtube.com/watch?v=BWPTj4_Mi9E&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN) [[Notebook]](t81_558_class_02_5_pandas_features.ipynb)

# Google CoLab Instructions

The following code ensures that Google CoLab is running the correct version of TensorFlow.

In [30]:

try:
    %tensorflow_version 2.x
    COLAB = True
    print("Note: using Google CoLab")
except:
    print("Note: not using Google CoLab")
    COLAB = False

Note: not using Google CoLab

# Part 2.4: Apply and Map

If you've ever worked with Big Data or functional programming languages before, you've likely heard of map/reduce. Map and reduce are two functions that apply a task that you create to a data frame.  Pandas supports functional programming techniques that allow you to use functions across en entire data frame.  In addition to functions that you write, Pandas also provides several standard functions for use with data frames.

### Using Map with Dataframes

The map function allows you to transform a column by mapping certain values in that column to other values.  Consider the Auto MPG data set that contains a field **origin_name** that holds a value between one and three that indicates the geographic origin of each car.  We can see how to use the map function to transform this numeric origin into the textual name of each origin.

We will begin by loading the Auto MPG data set.

In [65]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 5)

display(df)

,mpg,cylinders,displacement,...,year,origin,name
0,18.0,8,307.0,...,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,...,70,1,buick skylark 320
...,...,...,...,...,...,...,...
396,28.0,4,120.0,...,82,1,ford ranger
397,31.0,4,119.0,...,82,1,chevy s-10

The **map** method in Pandas operates on a single column.  You provide **map** with a dictionary of values to transform the target column.  The map keys specify what values in the target column should be turned into values specified by those keys.  The following code shows how the map function can transform the numeric values of 1, 2, and 3 into the string values of North America, Europe and Asia.

In [68]:
# Apply the map
df['origin_name'] = df['origin'].map(
    {1: 'North America', 2: 'Europe', 3: 'Asia'})# map number to names

# Shuffle the data, so that we hopefully see
# more regions.
df = df.reindex(np.random.permutation(df.index)) 

# Display
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
display(df)

,mpg,cylinders,displacement,...,origin,name,origin_name
71,19.0,3,70.0,...,3,mazda rx2 coupe,Asia
232,16.0,8,351.0,...,1,ford thunderbird,North America
136,16.0,8,302.0,...,1,ford gran torino,North America
3,16.0,8,304.0,...,1,amc rebel sst,North America
167,29.0,4,97.0,...,3,toyota corolla,Asia
...,...,...,...,...,...,...,...
114,26.0,4,98.0,...,2,fiat 124 sport coupe,Europe
238,33.5,4,98.0,...,1,dodge colt m/m,North America
36,19.0,6,250.0,...,1,ford torino 500,North America
200,18.0,6,250.0,...,1,ford granada ghia,North America
97,18.0,6,225.0,...,1,plymouth valiant,North America

### Using Apply with Dataframes

The **apply** function of the data frame can run a function over the entire data frame.  You can use either be a traditional named function or a lambda function. Python will execute the provided function against each of the rows or columns in the data frame.  The **axis** parameter specifies of the function is run across rows or columns.  For axis = 1, rows are used. The following code calculates a series called **efficiency** that is the **displacement** divided by **horsepower**.

In [70]:
 
efficiency = df.apply(lambda a: a['displacement']/a['horsepower'], axis=1)
display(efficiency[0:10])

71     0.721649
232    2.355705
136    2.157143
3      2.026667
167    1.293333
351    1.507692
166    2.341085
251    2.172662
373    1.521739
231    2.105263
dtype: float64

You can now insert this series into the data frame, either as a new column or to replace an existing column.  The following code inserts this new series into the data frame.

In [73]:
df['efficiency'] = efficiency  
df

,mpg,cylinders,displacement,...,name,origin_name,efficiency
71,19.0,3,70.0,...,mazda rx2 coupe,Asia,0.721649
232,16.0,8,351.0,...,ford thunderbird,North America,2.355705
136,16.0,8,302.0,...,ford gran torino,North America,2.157143
3,16.0,8,304.0,...,amc rebel sst,North America,2.026667
167,29.0,4,97.0,...,toyota corolla,Asia,1.293333
...,...,...,...,...,...,...,...
114,26.0,4,98.0,...,fiat 124 sport coupe,Europe,1.088889
238,33.5,4,98.0,...,dodge colt m/m,North America,1.180723
36,19.0,6,250.0,...,ford torino 500,North America,2.840909
200,18.0,6,250.0,...,ford granada ghia,North America,3.205128
97,18.0,6,225.0,...,plymouth valiant,North America,2.142857

### Feature Engineering with Apply and Map

In this section, we will see how to calculate a complex feature using map, apply, and grouping.  The data set is the following CSV:

* https://www.irs.gov/pub/irs-soi/16zpallagi.csv 

This URL contains US Government public data for "SOI Tax Stats - Individual Income Tax Statistics."  The entry point to the website is here:

* https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi 

Documentation describing this data is at the above link.

For this feature, we will attempt to estimate the adjusted gross income (AGI) for each of the zip codes.  The data file contains many columns; however, you will only use the following:

* **STATE** - The state (e.g., MO)
* **zipcode** - The zipcode (e.g. 63017)
* **agi_stub** - Six different brackets of annual income (1 through 6) 
* **N1** - The number of tax returns for each of the agi_stubs

Note, the file will have six rows for each zip code, for each of the agi_stub brackets. You can skip zip codes with 0 or 99999.

We will create an output CSV with these columns; however, only one row per zip code. Calculate a weighted average of the income brackets. For example, the following six rows are present for 63017:


|zipcode |agi_stub | N1 |
|--|--|-- |
|63017     |1 | 4710 |
|63017     |2 | 2780 |
|63017     |3 | 2130 |
|63017     |4 | 2010 |
|63017     |5 | 5240 |
|63017     |6 | 3510 |


We must combine these six rows into one.  For privacy reasons, AGI's are broken out into 6 buckets.  We need to combine the buckets and estimate the actual AGI of a zipcode. To do this, consider the values for N1:

* 1 = 1 to 25,000
* 2 = 25,000 to 50,000
* 3 = 50,000 to 75,000
* 4 = 75,000 to 100,000
* 5 = 100,000 to 200,000
* 6 = 200,000 or more

The median of each of these ranges is approximately:

* 1 = 12,500
* 2 = 37,500
* 3 = 62,500 
* 4 = 87,500
* 5 = 112,500
* 6 = 212,500

Using this you can estimate 63017's average AGI as:

```
>>> totalCount = 4710 + 2780 + 2130 + 2010 + 5240 + 3510
>>> totalAGI = 4710 * 12500 + 2780 * 37500 + 2130 * 62500 
    + 2010 * 87500 + 5240 * 112500 + 3510 * 212500
>>> print(totalAGI / totalCount)

88689.89205103042
```

We begin by reading in the government data.

In [74]:
import pandas as pd

df=pd.read_csv('https://www.irs.gov/pub/irs-soi/16zpallagi.csv')
#df=pd.read_csv('./16zpallagi.csv')

In [75]:
pd.set_option('display.max_columns',5)
pd.set_option('display.max_rows', 9)
display(df)

        STATEFIPS STATE  ...  N11902   A11902
0               1    AL  ...  711580  1831661
1               1    AL  ...  416090  1173463
2               1    AL  ...  195130   543284
3               1    AL  ...  117410   381329
...           ...   ...  ...     ...      ...
179792         56    WY  ...     940     2625
179793         56    WY  ...     610     2195
179794         56    WY  ...     680     3690
179795         56    WY  ...      80    14096

[179796 rows x 147 columns]

First, we trim all zip codes that are either 0 or 99999.  We also select the three fields that we need.

In [76]:
df=df.loc[(df['zipcode']!=0) & (df['zipcode']!=99999) ,
          ['STATE','zipcode','agi_stub','N1']]
# DataFrame.loc : Access a group of rows and columns by label(s) or a boolean array.
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 10)

display(df)

       STATE  zipcode  agi_stub    N1
6         AL    35004         1  1510
7         AL    35004         2  1410
8         AL    35004         3   950
9         AL    35004         4   650
10        AL    35004         5   630
...      ...      ...       ...   ...
179785    WY    83414         2    40
179786    WY    83414         3    40
179787    WY    83414         4     0
179788    WY    83414         5    40
179789    WY    83414         6    30

[179184 rows x 4 columns]

We replace all of the **agi_stub** values with the correct median values with the **map** function.

In [77]:
medians = {1:12500,2:37500,3:62500,4:87500,5:112500,6:212500}
df['agi_stub']=df.agi_stub.map(medians)

pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 10)
display(df)

       STATE  zipcode  agi_stub    N1
6         AL    35004     12500  1510
7         AL    35004     37500  1410
8         AL    35004     62500   950
9         AL    35004     87500   650
10        AL    35004    112500   630
...      ...      ...       ...   ...
179785    WY    83414     37500    40
179786    WY    83414     62500    40
179787    WY    83414     87500     0
179788    WY    83414    112500    40
179789    WY    83414    212500    30

[179184 rows x 4 columns]

Next, we group the data frame by zip code.

In [123]:
groups = df.groupby(by='zipcode')
gu = pd.DataFrame(groups)
display(gu)
groups

           0                                                  1
0       1001        STATE  zipcode  agi_stub    N1
69049    ...
1       1002        STATE  zipcode  agi_stub    N1
69055    ...
2       1003        STATE  zipcode  agi_stub   N1
69061    M...
3       1005        STATE  zipcode  agi_stub   N1
69066    M...
4       1007        STATE  zipcode  agi_stub    N1
69072    ...
...      ...                                                ...
29867  99921       STATE  zipcode  agi_stub   N1
4463    AK ...
29868  99922       STATE  zipcode  agi_stub  N1
4469    AK  ...
29869  99925       STATE  zipcode  agi_stub   N1
4475    AK ...
29870  99926       STATE  zipcode  agi_stub   N1
4481    AK ...
29871  99929       STATE  zipcode  agi_stub   N1
4487    AK ...

[29872 rows x 2 columns]

In [126]:
print(gu[0][0],'\n\n',gu[1][0],'\n',gu[0][2],'\n',gu[1][4],'\n-------------\n')
print(gu[1][1],'\n',gu[1][2],'\n',gu[1][3],'\n',gu[1][14])

1001

       STATE  zipcode  agi_stub    N1
69049    MA     1001     12500  2810
69050    MA     1001     37500  2230
69051    MA     1001     62500  1590
69052    MA     1001     87500   940
69053    MA     1001    112500  1250
69054    MA     1001    212500   160
 1003
       STATE  zipcode  agi_stub    N1
69072    MA     1007     12500  2170
69073    MA     1007     37500  1480
69074    MA     1007     62500  1070
69075    MA     1007     87500   870
69076    MA     1007    112500  1660
69077    MA     1007    212500   330
-------------

      STATE  zipcode  agi_stub    N1
69055    MA     1002     12500  3310
69056    MA     1002     37500  1740
69057    MA     1002     62500  1100
69058    MA     1002     87500   790
69059    MA     1002    112500  1740
69060    MA     1002    212500   810
       STATE  zipcode  agi_stub   N1
69061    MA     1003     12500  150
69062    MA     1003     37500   20
69063    MA     1003     62500    0
69064    MA     1003    112500    0
69065    MA     1003    212500    0
       STATE  zipcode  agi_stub   N1
69066    MA     1005     12500  720
69067    MA     1005     37500  560
69068    MA     1005     62500  400
69069    MA     1005     87500  280
69070    MA     1005    112500  370
69071    MA     1005    212500   40
       STATE  zipcode  agi_stub    N1
69132    MA     1027     12500  2920
69133    MA     1027     37500  2690
69134    MA     1027     62500  1620
69135    MA     1027     87500  1060
69136    MA     1027    112500  1330
69137    MA     1027    212500   220

In [132]:
g2 =(df.groupby('zipcode').groups)
 
display (g2 )

{1001: Int64Index([0], dtype='int64'),
 1002: Int64Index([1], dtype='int64'),
 1003: Int64Index([2], dtype='int64'),
 1005: Int64Index([3], dtype='int64'),
 1007: Int64Index([4], dtype='int64'),
 1008: Int64Index([5], dtype='int64'),
 1009: Int64Index([6], dtype='int64'),
 1010: Int64Index([7], dtype='int64'),
 1011: Int64Index([8], dtype='int64'),
 1012: Int64Index([9], dtype='int64'),
 1013: Int64Index([10], dtype='int64'),
 1020: Int64Index([11], dtype='int64'),
 1022: Int64Index([12], dtype='int64'),
 1026: Int64Index([13], dtype='int64'),
 1027: Int64Index([14], dtype='int64'),
 1028: Int64Index([15], dtype='int64'),
 1029: Int64Index([16], dtype='int64'),
 1030: Int64Index([17], dtype='int64'),
 1031: Int64Index([18], dtype='int64'),
 1032: Int64Index([19], dtype='int64'),
 1033: Int64Index([20], dtype='int64'),
 1034: Int64Index([21], dtype='int64'),
 1035: Int64Index([22], dtype='int64'),
 1036: Int64Index([23], dtype='int64'),
 1037: Int64Index([24], dtype='int64'),
 1038: Int64Index([25], dtype='int64'),
 1039: Int64Index([26], dtype='int64'),
 1040: Int64Index([27], dtype='int64'),
 1050: Int64Index([28], dtype='int64'),
 1053: Int64Index([29], dtype='int64'),
 1054: Int64Index([30], dtype='int64'),
 1056: Int64Index([31], dtype='int64'),
 1057: Int64Index([32], dtype='int64'),
 1060: Int64Index([33], dtype='int64'),
 1062: Int64Index([34], dtype='int64'),
 1066: Int64Index([35], dtype='int64'),
 1068: Int64Index([36], dtype='int64'),
 1069: Int64Index([37], dtype='int64'),
 1070: Int64Index([38], dtype='int64'),
 1071: Int64Index([39], dtype='int64'),
 1072: Int64Index([40], dtype='int64'),
 1073: Int64Index([41], dtype='int64'),
 1074: Int64Index([42], dtype='int64'),
 1075: Int64Index([43], dtype='int64'),
 1077: Int64Index([44], dtype='int64'),
 1079: Int64Index([45], dtype='int64'),
 1080: Int64Index([46], dtype='int64'),
 1081: Int64Index([47], dtype='int64'),
 1082: Int64Index([48], dtype='int64'),
 1083: Int64Index([49], dtype='int64'),
 1085: Int64Index([50], dtype='int64'),
 1086: Int64Index([51], dtype='int64'),
 1088: Int64Index([52], dtype='int64'),
 1089: Int64Index([53], dtype='int64'),
 1092: Int64Index([54], dtype='int64'),
 1093: Int64Index([55], dtype='int64'),
 1094: Int64Index([56], dtype='int64'),
 1095: Int64Index([57], dtype='int64'),
 1096: Int64Index([58], dtype='int64'),
 1098: Int64Index([59], dtype='int64'),
 1103: Int64Index([60], dtype='int64'),
 1104: Int64Index([61], dtype='int64'),
 1105: Int64Index([62], dtype='int64'),
 1106: Int64Index([63], dtype='int64'),
 1107: Int64Index([64], dtype='int64'),
 1108: Int64Index([65], dtype='int64'),
 1109: Int64Index([66], dtype='int64'),
 1118: Int64Index([67], dtype='int64'),
 1119: Int64Index([68], dtype='int64'),
 1128: Int64Index([69], dtype='int64'),
 1129: Int64Index([70], dtype='int64'),
 1151: Int64Index([71], dtype='int64'),
 1201: Int64Index([72], dtype='int64'),
 1220: Int64Index([73], dtype='int64'),
 1222: Int64Index([74], dtype='int64'),
 1223: Int64Index([75], dtype='int64'),
 1225: Int64Index([76], dtype='int64'),
 1226: Int64Index([77], dtype='int64'),
 1230: Int64Index([78], dtype='int64'),
 1235: Int64Index([79], dtype='int64'),
 1236: Int64Index([80], dtype='int64'),
 1237: Int64Index([81], dtype='int64'),
 1238: Int64Index([82], dtype='int64'),
 1240: Int64Index([83], dtype='int64'),
 1242: Int64Index([84], dtype='int64'),
 1243: Int64Index([85], dtype='int64'),
 1244: Int64Index([86], dtype='int64'),
 1245: Int64Index([87], dtype='int64'),
 1247: Int64Index([88], dtype='int64'),
 1253: Int64Index([89], dtype='int64'),
 1254: Int64Index([90], dtype='int64'),
 1255: Int64Index([91], dtype='int64'),
 1256: Int64Index([92], dtype='int64'),
 1257: Int64Index([93], dtype='int64'),
 1258: Int64Index([94], dtype='int64'),
 1259: Int64Index([95], dtype='int64'),
 1260: Int64Index([96], dtype='int64'),
 1262: Int64Index([97], dtype='int64'),
 1264: Int64Index([98], dtype='int64'),
 1266: Int64Index([99], dtype='int64'),
 1267: Int64Index([100], dtype='int64'),
 1270: Int64Index([101], dtype='int64'),
 1301: Int64Index([102], dtype='int64'),
 1330: Int64Index([103], dtype='int64'),
 1331: Int64Index([104], dtype='int64'),
 1337: Int64Index([105], dtype='int64'),
 1338: Int64Index([106], dtype='int64'),
 1339: Int64Index([107], dtype='int64'),
 1340: Int64Index([108], dtype='int64'),
 1341: Int64Index([109], dtype='int64'),
 1342: Int64Index([110], dtype='int64'),
 1344: Int64Index([111], dtype='int64'),
 1346: Int64Index([112], dtype='int64'),
 1349: Int64Index([113], dtype='int64'),
 1351: Int64Index([114], dtype='int64'),
 1354: Int64Index([115], dtype='int64'),
 1355: Int64Index([116], dtype='int64'),
 1360: Int64Index([117], dtype='int64'),
 1364: Int64Index([118], dtype='int64'),
 1366: Int64Index([119], dtype='int64'),
 1367: Int64Index([120], dtype='int64'),
 1368: Int64Index([121], dtype='int64'),
 1370: Int64Index([122], dtype='int64'),
 1373: Int64Index([123], dtype='int64'),
 1375: Int64Index([124], dtype='int64'),
 1376: Int64Index([125], dtype='int64'),
 1378: Int64Index([126], dtype='int64'),
 1379: Int64Index([127], dtype='int64'),
 1420: Int64Index([128], dtype='int64'),
 1430: Int64Index([129], dtype='int64'),
 1431: Int64Index([130], dtype='int64'),
 1432: Int64Index([131], dtype='int64'),
 1434: Int64Index([132], dtype='int64'),
 1436: Int64Index([133], dtype='int64'),
 1438: Int64Index([134], dtype='int64'),
 1440: Int64Index([135], dtype='int64'),
 1450: Int64Index([136], dtype='int64'),
 1451: Int64Index([137], dtype='int64'),
 1452: Int64Index([138], dtype='int64'),
 1453: Int64Index([139], dtype='int64'),
 1460: Int64Index([140], dtype='int64'),
 1462: Int64Index([141], dtype='int64'),
 1463: Int64Index([142], dtype='int64'),
 1464: Int64Index([143], dtype='int64'),
 1467: Int64Index([144], dtype='int64'),
 1468: Int64Index([145], dtype='int64'),
 1469: Int64Index([146], dtype='int64'),
 1473: Int64Index([147], dtype='int64'),
 1474: Int64Index([148], dtype='int64'),
 1475: Int64Index([149], dtype='int64'),
 1501: Int64Index([150], dtype='int64'),
 1503: Int64Index([151], dtype='int64'),
 1504: Int64Index([152], dtype='int64'),
 1505: Int64Index([153], dtype='int64'),
 1506: Int64Index([154], dtype='int64'),
 1507: Int64Index([155], dtype='int64'),
 1510: Int64Index([156], dtype='int64'),
 1515: Int64Index([157], dtype='int64'),
 1516: Int64Index([158], dtype='int64'),
 1518: Int64Index([159], dtype='int64'),
 1519: Int64Index([160], dtype='int64'),
 1520: Int64Index([161], dtype='int64'),
 1521: Int64Index([162], dtype='int64'),
 1522: Int64Index([163], dtype='int64'),
 1523: Int64Index([164], dtype='int64'),
 1524: Int64Index([165], dtype='int64'),
 1525: Int64Index([166], dtype='int64'),
 1527: Int64Index([167], dtype='int64'),
 1529: Int64Index([168], dtype='int64'),
 1531: Int64Index([169], dtype='int64'),
 1532: Int64Index([170], dtype='int64'),
 1534: Int64Index([171], dtype='int64'),
 1535: Int64Index([172], dtype='int64'),
 1536: Int64Index([173], dtype='int64'),
 1537: Int64Index([174], dtype='int64'),
 1540: Int64Index([175], dtype='int64'),
 1541: Int64Index([176], dtype='int64'),
 1542: Int64Index([177], dtype='int64'),
 1543: Int64Index([178], dtype='int64'),
 1545: Int64Index([179], dtype='int64'),
 1550: Int64Index([180], dtype='int64'),
 1560: Int64Index([181], dtype='int64'),
 1561: Int64Index([182], dtype='int64'),
 1562: Int64Index([183], dtype='int64'),
 1564: Int64Index([184], dtype='int64'),
 1566: Int64Index([185], dtype='int64'),
 1568: Int64Index([186], dtype='int64'),
 1569: Int64Index([187], dtype='int64'),
 1570: Int64Index([188], dtype='int64'),
 1571: Int64Index([189], dtype='int64'),
 1581: Int64Index([190], dtype='int64'),
 1583: Int64Index([191], dtype='int64'),
 1585: Int64Index([192], dtype='int64'),
 1588: Int64Index([193], dtype='int64'),
 1590: Int64Index([194], dtype='int64'),
 1602: Int64Index([195], dtype='int64'),
 1603: Int64Index([196], dtype='int64'),
 1604: Int64Index([197], dtype='int64'),
 1605: Int64Index([198], dtype='int64'),
 1606: Int64Index([199], dtype='int64'),
 1607: Int64Index([200], dtype='int64'),
 1608: Int64Index([201], dtype='int64'),
 1609: Int64Index([202], dtype='int64'),
 1610: Int64Index([203], dtype='int64'),
 1611: Int64Index([204], dtype='int64'),
 1612: Int64Index([205], dtype='int64'),
 1701: Int64Index([206], dtype='int64'),
 1702: Int64Index([207], dtype='int64'),
 1718: Int64Index([208], dtype='int64'),
 1719: Int64Index([209], dtype='int64'),
 1720: Int64Index([210], dtype='int64'),
 1721: Int64Index([211], dtype='int64'),
 1730: Int64Index([212], dtype='int64'),
 1731: Int64Index([213], dtype='int64'),
 1740: Int64Index([214], dtype='int64'),
 1741: Int64Index([215], dtype='int64'),
 1742: Int64Index([216], dtype='int64'),
 1745: Int64Index([217], dtype='int64'),
 1746: Int64Index([218], dtype='int64'),
 1747: Int64Index([219], dtype='int64'),
 1748: Int64Index([220], dtype='int64'),
 1749: Int64Index([221], dtype='int64'),
 1752: Int64Index([222], dtype='int64'),
 1754: Int64Index([223], dtype='int64'),
 1756: Int64Index([224], dtype='int64'),
 1757: Int64Index([225], dtype='int64'),
 1760: Int64Index([226], dtype='int64'),
 1770: Int64Index([227], dtype='int64'),
 1772: Int64Index([228], dtype='int64'),
 1773: Int64Index([229], dtype='int64'),
 1775: Int64Index([230], dtype='int64'),
 1776: Int64Index([231], dtype='int64'),
 1778: Int64Index([232], dtype='int64'),
 1801: Int64Index([233], dtype='int64'),
 1803: Int64Index([234], dtype='int64'),
 1810: Int64Index([235], dtype='int64'),
 1821: Int64Index([236], dtype='int64'),
 1824: Int64Index([237], dtype='int64'),
 1826: Int64Index([238], dtype='int64'),
 1827: Int64Index([239], dtype='int64'),
 1830: Int64Index([240], dtype='int64'),
 1832: Int64Index([241], dtype='int64'),
 1833: Int64Index([242], dtype='int64'),
 1834: Int64Index([243], dtype='int64'),
 1835: Int64Index([244], dtype='int64'),
 1840: Int64Index([245], dtype='int64'),
 1841: Int64Index([246], dtype='int64'),
 1843: Int64Index([247], dtype='int64'),
 1844: Int64Index([248], dtype='int64'),
 1845: Int64Index([249], dtype='int64'),
 1850: Int64Index([250], dtype='int64'),
 1851: Int64Index([251], dtype='int64'),
 1852: Int64Index([252], dtype='int64'),
 1854: Int64Index([253], dtype='int64'),
 1860: Int64Index([254], dtype='int64'),
 1862: Int64Index([255], dtype='int64'),
 1863: Int64Index([256], dtype='int64'),
 1864: Int64Index([257], dtype='int64'),
 1867: Int64Index([258], dtype='int64'),
 1876: Int64Index([259], dtype='int64'),
 1879: Int64Index([260], dtype='int64'),
 1880: Int64Index([261], dtype='int64'),
 1886: Int64Index([262], dtype='int64'),
 1887: Int64Index([263], dtype='int64'),
 1890: Int64Index([264], dtype='int64'),
 1901: Int64Index([265], dtype='int64'),
 1902: Int64Index([266], dtype='int64'),
 1904: Int64Index([267], dtype='int64'),
 1905: Int64Index([268], dtype='int64'),
 1906: Int64Index([269], dtype='int64'),
 1907: Int64Index([270], dtype='int64'),
 1908: Int64Index([271], dtype='int64'),
 1913: Int64Index([272], dtype='int64'),
 1915: Int64Index([273], dtype='int64'),
 1921: Int64Index([274], dtype='int64'),
 1922: Int64Index([275], dtype='int64'),
 1923: Int64Index([276], dtype='int64'),
 1929: Int64Index([277], dtype='int64'),
 1930: Int64Index([278], dtype='int64'),
 1938: Int64Index([279], dtype='int64'),
 1940: Int64Index([280], dtype='int64'),
 1944: Int64Index([281], dtype='int64'),
 1945: Int64Index([282], dtype='int64'),
 1949: Int64Index([283], dtype='int64'),
 1950: Int64Index([284], dtype='int64'),
 1951: Int64Index([285], dtype='int64'),
 1952: Int64Index([286], dtype='int64'),
 1960: Int64Index([287], dtype='int64'),
 1966: Int64Index([288], dtype='int64'),
 1969: Int64Index([289], dtype='int64'),
 1970: Int64Index([290], dtype='int64'),
 1982: Int64Index([291], dtype='int64'),
 1983: Int64Index([292], dtype='int64'),
 1984: Int64Index([293], dtype='int64'),
 1985: Int64Index([294], dtype='int64'),
 2019: Int64Index([295], dtype='int64'),
 2021: Int64Index([296], dtype='int64'),
 2025: Int64Index([297], dtype='int64'),
 2026: Int64Index([298], dtype='int64'),
 2030: Int64Index([299], dtype='int64'),
 2032: Int64Index([300], dtype='int64'),
 2035: Int64Index([301], dtype='int64'),
 2038: Int64Index([302], dtype='int64'),
 2043: Int64Index([303], dtype='int64'),
 2045: Int64Index([304], dtype='int64'),
 2047: Int64Index([305], dtype='int64'),
 2048: Int64Index([306], dtype='int64'),
 2050: Int64Index([307], dtype='int64'),
 2052: Int64Index([308], dtype='int64'),
 2053: Int64Index([309], dtype='int64'),
 2054: Int64Index([310], dtype='int64'),
 2056: Int64Index([311], dtype='int64'),
 2061: Int64Index([312], dtype='int64'),
 2062: Int64Index([313], dtype='int64'),
 2066: Int64Index([314], dtype='int64'),
 2067: Int64Index([315], dtype='int64'),
 2071: Int64Index([316], dtype='int64'),
 2072: Int64Index([317], dtype='int64'),
 2081: Int64Index([318], dtype='int64'),
 2090: Int64Index([319], dtype='int64'),
 2093: Int64Index([320], dtype='int64'),
 2108: Int64Index([321], dtype='int64'),
 2109: Int64Index([322], dtype='int64'),
 2110: Int64Index([323], dtype='int64'),
 2111: Int64Index([324], dtype='int64'),
 2113: Int64Index([325], dtype='int64'),
 2114: Int64Index([326], dtype='int64'),
 2115: Int64Index([327], dtype='int64'),
 2116: Int64Index([328], dtype='int64'),
 2118: Int64Index([329], dtype='int64'),
 2119: Int64Index([330], dtype='int64'),
 2120: Int64Index([331], dtype='int64'),
 2121: Int64Index([332], dtype='int64'),
 2122: Int64Index([333], dtype='int64'),
 2124: Int64Index([334], dtype='int64'),
 2125: Int64Index([335], dtype='int64'),
 2126: Int64Index([336], dtype='int64'),
 2127: Int64Index([337], dtype='int64'),
 2128: Int64Index([338], dtype='int64'),
 2129: Int64Index([339], dtype='int64'),
 2130: Int64Index([340], dtype='int64'),
 2131: Int64Index([341], dtype='int64'),
 2132: Int64Index([342], dtype='int64'),
 2134: Int64Index([343], dtype='int64'),
 2135: Int64Index([344], dtype='int64'),
 2136: Int64Index([345], dtype='int64'),
 2138: Int64Index([346], dtype='int64'),
 2139: Int64Index([347], dtype='int64'),
 2140: Int64Index([348], dtype='int64'),
 2141: Int64Index([349], dtype='int64'),
 2142: Int64Index([350], dtype='int64'),
 2143: Int64Index([351], dtype='int64'),
 2144: Int64Index([352], dtype='int64'),
 2145: Int64Index([353], dtype='int64'),
 2148: Int64Index([354], dtype='int64'),
 2149: Int64Index([355], dtype='int64'),
 2150: Int64Index([356], dtype='int64'),
 2151: Int64Index([357], dtype='int64'),
 2152: Int64Index([358], dtype='int64'),
 2155: Int64Index([359], dtype='int64'),
 2163: Int64Index([360], dtype='int64'),
 2169: Int64Index([361], dtype='int64'),
 2170: Int64Index([362], dtype='int64'),
 2171: Int64Index([363], dtype='int64'),
 2176: Int64Index([364], dtype='int64'),
 2180: Int64Index([365], dtype='int64'),
 2184: Int64Index([366], dtype='int64'),
 2186: Int64Index([367], dtype='int64'),
 2188: Int64Index([368], dtype='int64'),
 2189: Int64Index([369], dtype='int64'),
 2190: Int64Index([370], dtype='int64'),
 2191: Int64Index([371], dtype='int64'),
 2199: Int64Index([372], dtype='int64'),
 2210: Int64Index([373], dtype='int64'),
 2215: Int64Index([374], dtype='int64'),
 2301: Int64Index([375], dtype='int64'),
 2302: Int64Index([376], dtype='int64'),
 2322: Int64Index([377], dtype='int64'),
 2324: Int64Index([378], dtype='int64'),
 2330: Int64Index([379], dtype='int64'),
 2332: Int64Index([380], dtype='int64'),
 2333: Int64Index([381], dtype='int64'),
 2338: Int64Index([382], dtype='int64'),
 2339: Int64Index([383], dtype='int64'),
 2341: Int64Index([384], dtype='int64'),
 2343: Int64Index([385], dtype='int64'),
 2346: Int64Index([386], dtype='int64'),
 2347: Int64Index([387], dtype='int64'),
 2351: Int64Index([388], dtype='int64'),
 2356: Int64Index([389], dtype='int64'),
 2359: Int64Index([390], dtype='int64'),
 2360: Int64Index([391], dtype='int64'),
 2364: Int64Index([392], dtype='int64'),
 2366: Int64Index([393], dtype='int64'),
 2367: Int64Index([394], dtype='int64'),
 2368: Int64Index([395], dtype='int64'),
 2370: Int64Index([396], dtype='int64'),
 2375: Int64Index([397], dtype='int64'),
 2379: Int64Index([398], dtype='int64'),
 2382: Int64Index([399], dtype='int64'),
 2420: Int64Index([400], dtype='int64'),
 2421: Int64Index([401], dtype='int64'),
 2445: Int64Index([402], dtype='int64'),
 2446: Int64Index([403], dtype='int64'),
 2451: Int64Index([404], dtype='int64'),
 2452: Int64Index([405], dtype='int64'),
 2453: Int64Index([406], dtype='int64'),
 2458: Int64Index([407], dtype='int64'),
 2459: Int64Index([408], dtype='int64'),
 2460: Int64Index([409], dtype='int64'),
 2461: Int64Index([410], dtype='int64'),
 2462: Int64Index([411], dtype='int64'),
 2464: Int64Index([412], dtype='int64'),
 2465: Int64Index([413], dtype='int64'),
 2466: Int64Index([414], dtype='int64'),
 2467: Int64Index([415], dtype='int64'),
 2468: Int64Index([416], dtype='int64'),
 2472: Int64Index([417], dtype='int64'),
 2474: Int64Index([418], dtype='int64'),
 2476: Int64Index([419], dtype='int64'),
 2478: Int64Index([420], dtype='int64'),
 2481: Int64Index([421], dtype='int64'),
 2482: Int64Index([422], dtype='int64'),
 2492: Int64Index([423], dtype='int64'),
 2493: Int64Index([424], dtype='int64'),
 2494: Int64Index([425], dtype='int64'),
 2532: Int64Index([426], dtype='int64'),
 2534: Int64Index([427], dtype='int64'),
 2535: Int64Index([428], dtype='int64'),
 2536: Int64Index([429], dtype='int64'),
 2537: Int64Index([430], dtype='int64'),
 2538: Int64Index([431], dtype='int64'),
 2539: Int64Index([432], dtype='int64'),
 2540: Int64Index([433], dtype='int64'),
 2542: Int64Index([434], dtype='int64'),
 2543: Int64Index([435], dtype='int64'),
 2553: Int64Index([436], dtype='int64'),
 2554: Int64Index([437], dtype='int64'),
 2556: Int64Index([438], dtype='int64'),
 2557: Int64Index([439], dtype='int64'),
 2558: Int64Index([440], dtype='int64'),
 2559: Int64Index([441], dtype='int64'),
 2561: Int64Index([442], dtype='int64'),
 2562: Int64Index([443], dtype='int64'),
 2563: Int64Index([444], dtype='int64'),
 2564: Int64Index([445], dtype='int64'),
 2568: Int64Index([446], dtype='int64'),
 2571: Int64Index([447], dtype='int64'),
 2575: Int64Index([448], dtype='int64'),
 2576: Int64Index([449], dtype='int64'),
 2584: Int64Index([450], dtype='int64'),
 2601: Int64Index([451], dtype='int64'),
 2630: Int64Index([452], dtype='int64'),
 2631: Int64Index([453], dtype='int64'),
 2632: Int64Index([454], dtype='int64'),
 2633: Int64Index([455], dtype='int64'),
 2635: Int64Index([456], dtype='int64'),
 2637: Int64Index([457], dtype='int64'),
 2638: Int64Index([458], dtype='int64'),
 2639: Int64Index([459], dtype='int64'),
 2641: Int64Index([460], dtype='int64'),
 2642: Int64Index([461], dtype='int64'),
 2643: Int64Index([462], dtype='int64'),
 2644: Int64Index([463], dtype='int64'),
 2645: Int64Index([464], dtype='int64'),
 2646: Int64Index([465], dtype='int64'),
 2647: Int64Index([466], dtype='int64'),
 2648: Int64Index([467], dtype='int64'),
 2649: Int64Index([468], dtype='int64'),
 2650: Int64Index([469], dtype='int64'),
 2651: Int64Index([470], dtype='int64'),
 2652: Int64Index([471], dtype='int64'),
 2653: Int64Index([472], dtype='int64'),
 2655: Int64Index([473], dtype='int64'),
 2657: Int64Index([474], dtype='int64'),
 2659: Int64Index([475], dtype='int64'),
 2660: Int64Index([476], dtype='int64'),
 2663: Int64Index([477], dtype='int64'),
 2664: Int64Index([478], dtype='int64'),
 2666: Int64Index([479], dtype='int64'),
 2667: Int64Index([480], dtype='int64'),
 2668: Int64Index([481], dtype='int64'),
 2669: Int64Index([482], dtype='int64'),
 2670: Int64Index([483], dtype='int64'),
 2671: Int64Index([484], dtype='int64'),
 2672: Int64Index([485], dtype='int64'),
 2673: Int64Index([486], dtype='int64'),
 2675: Int64Index([487], dtype='int64'),
 2702: Int64Index([488], dtype='int64'),
 2703: Int64Index([489], dtype='int64'),

In [19]:
display(g2[1001])
display(g2[1002])

Int64Index([69049, 69050, 69051, 69052, 69053, 69054], dtype='int64')

Int64Index([69055, 69056, 69057, 69058, 69059, 69060], dtype='int64')

In [20]:

display(gu) # gu as only 2 columns  0-zip code  and 1 - table with 6 items

           0                                                  1
0       1001        STATE  zipcode  agi_stub    N1
69049    ...
1       1002        STATE  zipcode  agi_stub    N1
69055    ...
2       1003        STATE  zipcode  agi_stub   N1
69061    M...
3       1005        STATE  zipcode  agi_stub   N1
69066    M...
4       1007        STATE  zipcode  agi_stub    N1
69072    ...
...      ...                                                ...
29867  99921       STATE  zipcode  agi_stub   N1
4463    AK ...
29868  99922       STATE  zipcode  agi_stub  N1
4469    AK  ...
29869  99925       STATE  zipcode  agi_stub   N1
4475    AK ...
29870  99926       STATE  zipcode  agi_stub   N1
4481    AK ...
29871  99929       STATE  zipcode  agi_stub   N1
4487    AK ...

[29872 rows x 2 columns]

In [21]:
display(gu[0 ][0])

1001

In [22]:
display(gu[1 ][12])

      STATE  zipcode  agi_stub   N1
69120    MA     1022     12500  370
69121    MA     1022     37500  390
69122    MA     1022     62500  230
69123    MA     1022     87500   90
69124    MA     1022    112500   70
69125    MA     1022    212500    0

The program applies a lambda is applied across the groups, and then calculates the AGI estimate.

In [127]:
df = pd.DataFrame(groups.apply( 
    lambda x:sum(x['N1']*x['agi_stub'])/sum(x['N1']))) \
    .reset_index()

In [128]:
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 10)

display(df)

       zipcode             0
0         1001  52895.322940
1         1002  64528.451001
2         1003  15441.176471
3         1005  54694.092827
4         1007  63654.353562
...        ...           ...
29867    99921  48042.168675
29868    99922  32954.545455
29869    99925  45639.534884
29870    99926  41136.363636
29871    99929  45911.214953

[29872 rows x 2 columns]

We can now rename the new agi_estimate column.

In [129]:
df.columns = ['zipcode','agi_estimate']

In [130]:
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 10)

display(df)

       zipcode  agi_estimate
0         1001  52895.322940
1         1002  64528.451001
2         1003  15441.176471
3         1005  54694.092827
4         1007  63654.353562
...        ...           ...
29867    99921  48042.168675
29868    99922  32954.545455
29869    99925  45639.534884
29870    99926  41136.363636
29871    99929  45911.214953

[29872 rows x 2 columns]

Finally, we check to see that our zip code of 63017 got the correct value.

In [27]:
df[ df['zipcode']==63017 ]

       zipcode  agi_estimate
19909    63017  88689.892051